/* font import */

.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* all affecting code */

*{
    font-family: Roboto;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}


/* Frequently used code condensation */

.header, .top_box, .middle_upper_box, .middle_lower_box, .lower_box, .footer{
    width: 1200px;
}

.header, 
.logo, .header_link, .top_box, .left_top_box, .right_top_box, .button_one,
.middle_upper_box, .image_boxes, .info, .item, .item p, 
.middle_lower_box, .quote, .thor, 
.lower_box, .blue_box, .left_blue_box, .right_blue_box, 
.footer, .header_container, .top_box_container, .middle_upper_box_container, 
.middle_lower_box_container, .lower_box_container, .footer_container{
    display: flex;
}

.header_container, .footer_container, .top_box_container{
    background-color: #1f2937;
}

.header_container, .top_box_container, .middle_upper_box_container, .middle_lower_box_container, .lower_box_container, .footer_container{
    justify-content: center;
    align-content: center;
}

/* header realated code */

.header{
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
}

.logo{
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header_link{
    flex-direction: row;
    margin-left: auto;
    font-size: 18px;
    color: #E5E7EB;
    gap: 24px;
}



/* top box related code */

.top_box, .right_top_box, .button_one{
    align-items: center;
}

.right_top_box, .button_one{
    justify-content: center;
}

.left_top_box, .right_top_box{
    flex: 1;
}

.top_box_container{
    padding-bottom: 32px;
}

.top_box{
    padding: 24px;
    justify-content: space-between;
}

.left_top_box{
    margin-right: auto;
    flex-direction: column;
    padding: 20px;
}

.hero_text{
    font-size: 48px;
    color: #f9faf8;
}

.left_top_box p{
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 0px;
}
.right_top_box{
    margin-left: auto;
}

.button_one{
    background-color:#3882F6;
    width: 80px;
    flex: auto;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    color: #f9faf8;
}

.hero_image{
    width: 500px;
    height: 250px;
}




/* middle upper box code */

.image_boxes, .items{
    align-items: center;
}

.image_boxes, .item, .info{
    justify-content: center;
}

.middle_upper_box, .item{
    flex-direction: column;
}



.image_boxes{
    flex-direction: row;
    gap: 40px;
    padding: 0px 0px 50px;
}

.info{
padding: 24px;
font-size: 36px;
font-weight: 900;
color: #1f2937;
}

.item{
    width: 200px;
    text-align: center;
}

.item img{
    align-self: center;
}

.item p{
    align-self: center;
    padding: 10px;
}

.info_image{
    width: 170px;
    height: 170px;
    border-radius: 10px;
    border-width: 5px;
    border-color: #3882F6;
    border-style: solid;
}


/* middle lower box related code */ 
.middle_lower_box_container{
    background-color: #E5E7EB;
}

.middle_lower_box{
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.quote{
    font-style: italic;
    font-weight: 300;
    color:#1f2937;
    font-size: 36px;
    width: 900px;
}

.thor{
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    padding: 20px 50px 0px;
}



/* lower box code */

.lower_box{
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    margin: 50px 0px;
}

.blue_box{
    background-color: #3882F6;
    padding: 40px 100px;
    width: 1000px;
    border-radius: 10px;
}

.left_blue_box{
    flex-direction: column;
    margin-right: auto;
}

.right_blue_box{
    margin-left: auto;
}

.call_to_action{
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
}

.sign_up{
    color: #f9faf8;
    font-size: 16px;
    font-weight: 300;
}

.right_blue_box button{
    padding: 0px 30px;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 5px;
    border-width: 2px;
    border-color: #f9faf8;
    border-style: solid;
}
/* footer related code */

.footer{
    color:#E5E7EB;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}